@import url('https://fonts.googleapis.com/css?family=Share:700|Share|Ubuntu');

/*
#ef5777 highlighter pink
#f53b57 sizzling red
#575fcf dark periwinkle
#3c40c6 free speech blue
*/

body{
  background: #F9F9FA;
  font-family: Arial;
  margin: 0;
  padding:0;
}

h1 {
  font: 8.5em 'Share', monospace;
  font-weight: 700;
  color: #F9F9FA;
  background: -webkit-linear-gradient(-90deg,  #f53b57 5%, #ef5777 60%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 10px transparent;
  margin:0;
}
.content {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  /* Flexbox shiz */
  display: flex;
  justify-content: center;
  align-items: center;

}
.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  /* Flexbox scaling stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text style */
  text-align: center;
  position:relative;

  /* Background image */
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('http://fanaru.com/doge/image/14008-doge-doge-is-moon.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
}

.fas.fa-heart {
  display: inline-block;
  color:#ef5777;
  font-size:34px;
  vertical-align:2px;
}

.welcome {
  box-sizing: border-box;
  height:150px;
}
.welcome b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 150px;
}
.welcome .welcome-inner {
  box-sizing: border-box;
  display: inline-block;
  color: #d2dae2;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  text-align: left;

/*animation*/
-webkit-animation:once 3s;
   -moz-animation:once 3s;
    -ms-animation:once 3s;
     -o-animation:once 3s;
        animation:once 3s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:1;
   -moz-animation-iteration-count:1;
    -ms-animation-iteration-count:1;
     -o-animation-iteration-count:1;
        animation-iteration-count:1;
/*animation-delay*/
-webkit-animation-delay:2s;
   -moz-animation-delay:2s;
    -ms-animation-delay:2s;
     -o-animation-delay:2s;
        animation-delay:2s;
}
.welcome-inner span {
  font: 8em 'Ubuntu', monospace;
  font-weight: 700;
  color: #d2dae2;
}

.heart {
  display: block;
  float:left;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  font: bold 40px/50px 'Ubuntu', sans-serif;
  color: #d2dae2;
}
.heart p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
  color: #d2dae2;
}
.heart b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.heart .heart-inner {
  box-sizing: border-box;
  display: inline-block;
  color: #d2dae2;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  text-align: left;

/*animation*/
-webkit-animation:move 10s;
   -moz-animation:move 10s;
    -ms-animation:move 10s;
     -o-animation:move 10s;
        animation:move 10s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
  0%  { top: 0px; }
  10%  { top: 0px; }
  20% { top: -50px; }
  30% { top: -50px; }
  40% { top: -100px; }
  50% { top: -100px; }
  60% { top: -150px; }
  70% { top: -150px; }
  80% { top: -200px; }
  90% { top: -200px; }
}

@-webkit-keyframes move {
  0%  { top: 0px; }
  10%  { top: 0px; }
  20% { top: -50px; }
  30% { top: -50px; }
  40% { top: -100px; }
  50% { top: -100px; }
  60% { top: -150px; }
  70% { top: -150px; }
  80% { top: -200px; }
  90% { top: -200px; }
}
@-moz-keyframes move {
  0%  { top: 0px; }
  10%  { top: 0px; }
  20% { top: -50px; }
  30% { top: -50px; }
  40% { top: -100px; }
  50% { top: -100px; }
  60% { top: -150px; }
  70% { top: -150px; }
  80% { top: -200px; }
  90% { top: -200px; }
}
@-o-keyframes move {
  0%  { top: 0px; }
  10%  { top: 0px; }
  20% { top: -50px; }
  30% { top: -50px; }
  40% { top: -100px; }
  50% { top: -100px; }
  60% { top: -150px; }
  70% { top: -150px; }
  80% { top: -200px; }
  90% { top: -200px; }
}
@keyframes move {
  0%  { top: 0px; }
  10%  { top: 0px; }
  20% { top: -50px; }
  30% { top: -50px; }
  40% { top: -100px; }
  50% { top: -100px; }
  60% { top: -150px; }
  70% { top: -150px; }
  80% { top: -200px; }
  90% { top: -200px; }
}
/*welcome once animation*/
@keyframes once{
  0%  { top: 0px; }
  33% { top: -150px; }
  66% { top: -150px; }
}
@-webkit-keyframes once {
  0%  { top: 0px; }
  33% { top: -150px; }
  66% { top: -150px; }
}
@-moz-keyframes once {
  0%  { top: 0px; }
  33% { top: -150px; }
  66% { top: -150px; }
}
@-o-keyframes once {
  0%  { top: 0px; }
  33% { top: -150px; }
  66% { top: -150px; }
}
@keyframes once {
  0%  { top: 0px; }
  33% { top: -150px; }
  66% { top: -150px; }
}
